<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('partials/navbar') %>

<section class="about">

    <h1><span class="sticker">💬</span>Contact Naye Pankh Foundation</h1>

    <br>

    <h3><span class="sticker">📞</span>Phone</h3>
    <p>+91 XXXXXXXXXX</p>

    <br>

    <h3><span class="sticker">✉️</span>Email</h3>
    <p>nayepankhfoundation@gmail.com</p>

    <br>

    <h3><span class="sticker">📍</span>Address</h3>
    <p>Panvel, Maharashtra</p>

    <br>

    <h3><span class="sticker">🕒</span>Working Hours</h3>
    <p>Monday - Saturday</p>
    <p>10:00 AM - 6:00 PM</p>

</section>

<%- include('partials/footer') %>

</body>
</html>
